.nav-item a:hover{
    background-color: red;
    color: white;
}
.nav-link.active {
  background-color: orange !important; /* Màu nền */
  color: white !important;             /* Màu chữ */
  font-weight: bold;                    /* Chữ đậm */
  border-radius: 5px;                   /* Bo góc */
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
/*add task section*/
input.form-control {
  width: 50%;
}

/*Task list section*/
.task{
  list-style: none;
}
.task-complete{
  background-color: green;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
}
.task-cancel{
  background-color: red;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
}